@import url("https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: linear-gradient(rgb(9, 0, 35), rgb(10, 0, 27));
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: whitesmoke;
  font-size: 17px;
  text-transform: capitalize;
  text-align: justify;
  min-height: 100vh;
}
p {
  text-indent: 50px;
  text-align: justify;
  margin: 10px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(rgb(9, 0, 35), rgb(10, 0, 27));
  transition: background-color 0.5s ease;
  transition: box-shadow 0.5s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.nav-img img {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.nav-img {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.nav-img img:hover {
  animation: nav-img-spin 2s linear infinite;
}

@keyframes nav-img-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  cursor: pointer;
  background-color: white;
  overflow: hidden;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 10px;
  right: 30px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  z-index: 3;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(34, 40, 49, 0.4);
}
.navigation__background {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 2rem;
  background-image: radial-gradient(rgb(22, 4, 74), rgb(23, 1, 61));
  z-index: 1;
}
.navigation__nav {
  height: 100vh;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  width: 0;
}
.navigation__list {
  position: absolute;
  top: 7rem;
  font-size: 1rem;
  display: inline-block;
  align-items: center;
  justify-content: end;
  transform: translate(-10%, -10%);
  list-style: none;
  right: 0;
}
.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 10px 40px;
  /* margin-top: 10px; */
  padding: 1px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.7s;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    aliceblue 50%
  );
  background-size: 250%;
}

.navigation__link:hover {
  background-position: 100%;

  color: #00adb5;
  transform: scale(1.1);
}

.navigation__link:hover .navigation__link__link:not(:hover) {
  transition: all 0.2s;
  transform: scale(0.5);
}
.navigation__checkbox:checked ~ .navigation__background {
  transition: all 0.9s cubic-bezier(0.83, 0, 0.17, 1);
  transform: scale(80);
}
.navigation__checkbox:not(:checked) ~ .navigation__background {
  transition: all 0.7s;
}
.navigation__checkbox:not(:checked) ~ .navigation__nav {
  transition: all 0.7s;
}
.navigation__checkbox:checked ~ .navigation__nav {
  transition: all 0.9s cubic-bezier(0.87, 0, 0.13, 1);
  width: 100vh;
  opacity: 1;
}
.navigation__icon {
  margin-top: 10px;
  position: relative;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 1.3rem;
  height: 1px;
  background-color: #222831;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.4rem;
}
.navigation__icon::after {
  top: 0.5rem;
}
/* .navigation__button:hover .navigation__icon::before {
  top: -.2rem;
} */
.navigation__button:hover .navigation__icon::after {
  top: 0.5rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  transition-duration: 0.2s;
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

@media (min-width: 992px) {
  .navigation__nav {
    position: relative;
    height: auto;
    width: auto;
    opacity: 1;
    display: block;
    background: none;
    box-shadow: none;
  }
  .navigation__list {
    position: relative;
    top: 0;
    transform: none;
    display: flex;
  }
  .navigation__item {
    margin: 0;
  }
  .navigation__link {
    padding: 2rem;
  }
  .navigation__button,
  .navigation__background {
    display: none;
  }
}

/* loadd css */
/* hero section */

.name {
  color: cyan;
}

.animate-img img {
  filter: drop-shadow(5px 5px 5px rgb(12, 229, 12));
}

.typing-text {
  color: rgb(237, 8, 195);
  font-size: clamp(20px, 4vw, 60px);
  overflow: hidden;
  /* text-shadow: 0 0 2px rgb(245, 244, 243); */
}
.hero {
  min-height: 70vh;
  overflow: hidden;
}
.img{
  max-height: 350px;
  object-fit: contain;
  max-width: 350px;
  cursor: pointer;

}
.img:hover .hero-img{
  transform: scale(1.1);
}
.hero-img {
  filter: drop-shadow(2px 2px 4px cyan);
  transition: .5s linear;
}

.btn {
  font-size: 18px;
  width: 100px;
  color: white;
  border: 2px solid lightgreen;
  cursor: pointer;
  border-radius: 10px;
  text-shadow: 2px 2px 2px rgb(8, 6, 6);
  transition: background 0.5s ease-in-out;
}
.btn:hover {
  color: lightgreen;
  border: 2px solid rgb(19, 188, 245);
}
.ani {
  opacity: 0;
  font-size: clamp(25px, 4vw, 60px);
  animation: ani 1.5s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--i));
}
.social {
  font-size: 24px;
  color: whitesmoke;
  transition: 0.5s;
}
.social a {
  color: whitesmoke;
  opacity: 0;
  animation: social 0.5s ease-in forwards;
  transition: 0.5s;
  animation-delay: calc(0.3s * var(--i));
  display: inline-block;
  width: 50px;
}
.social a:nth-child(1):hover {
  color: purple;
  border-radius: 50%;
  box-shadow: 5px 5px 5px purple;
}
.social a:nth-child(2):hover {
  color: rgb(40, 175, 248);
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgb(40, 175, 248);
}
.social a:nth-child(3):hover {
  color: rgb(216, 19, 65);
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgb(216, 19, 65);
}
.social a:nth-child(4):hover {
  color: rgb(49, 180, 241);
  border-radius: 50%;
  /* width: 50px; */
  box-shadow: 5px 5px 5px rgb(104, 104, 211);
}
.social a:nth-child(5):hover {
  color: rgb(15, 11, 234);
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgb(10, 10, 249);
}
@keyframes ani {
  0% {
    transform: translateX(-700px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes social {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes top {
  0% {
    transform: translateX(-700px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes border-animation {
  0% {
    border-color: rgb(232, 156, 74);
  }
  10% {
    border-color: blue;
  }
  25% {
    border-color: rgb(14, 230, 234);
  }
  40% {
    border-color: rgb(33, 199, 7);
  }
  60% {
    border-color: rgb(228, 53, 213);
  }
  85% {
    border-color: rgb(102, 68, 240);
  }
  100% {
    border-color: rgb(180, 31, 128);
  }
}
@keyframes text-animation {
  0% {
    width: 0;
    border-color: rgb(232, 156, 74);
  }
  50% {
    color: rgb(14, 230, 234);
  }
  100% {
    width: 100%;
    color: rgb(238, 156, 42);
  }
}

/* about */
.about {
  overflow: hidden;
}
.heading {
  text-underline-offset: 10px;
  text-decoration: underline;
  color: rgb(245, 15, 172);
  border-radius: 10px;
  text-decoration-thickness: 5px;
  text-decoration-color: rgb(231, 180, 241);
}
.headings {
  text-underline-offset: 10px;
  text-decoration: underline;
  color: cyan;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  text-decoration-thickness: 5px;
  text-decoration-color: rgb(127, 136, 139);
}

/* projects */

.project {
  overflow: hidden;
}
.card {
  /* margin-top: 50px; */
  position: relative;
  height: 12rem;
  width: 12rem;
  margin: 35px;
  animation: border-animation 5s linear infinite;
  border-radius: 5px;
  border: 2px solid deeppink;
}
.image {
  padding: 20px;
  width: 100%;
  height: 100%;
  background: url(/images/ghibli.png);
  background-size: cover;
  object-fit: cover;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
}
.image1 {
  padding: 20px;
  width: 100%;
  height: 100%;
  background: url(/images/ux2.png);
  background-size: cover;
  object-fit: cover;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
}
.image2 {
  padding: 20px;
  width: 100%;
  height: 100%;
  background: url(/images/countdown.png);
  /* background-size: contain; */
  background-size: cover; 
  object-fit: cover;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;

}

.text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transform-style: preserve-3d;
  transform: translateZ(20px);
}

.text a {
  margin-bottom: 50px;
  text-decoration: none;
  color: white;
  font-size: 3vw;
  padding-left: 20px;
  transform-style: preserve-3d;
  transform: translateZ(20px);
}
.card:hover .text {
  opacity: 1;
  visibility: visible;
}
.card:focus .text {
  opacity: 1;
  visibility: visible;
}
/* skills */
.skills-row {
  display: flex;
  gap: 50px; 
  flex-wrap: wrap;
}

.card-icons {
  width: 120px;
  height: 120px;
  margin-top: 20px;
  border-radius: 5px;
  position: relative;
  left: 30px;
  border: 2px solid white;
  transition: border-color 0.3s;
  box-shadow: 0px 0px 7px whitesmoke;
  cursor: pointer;
  text-align: center;
  background: rgb(1, 12, 27);
  display: inline-block;
  vertical-align: top;
}

.icon {
  display: inline-block;
  margin-top: 30px;
  vertical-align: middle;
  animation: icons 4s linear infinite;
}

.card-icons:hover {
  border-color: rgb(245, 15, 172);
  box-shadow: 0 0 10px rgb(42, 246, 191), 0 0 25px rgb(45, 236, 246);
}

.card-icons .icon img {
  height: 50px;
  width: 50px;
}

@keyframes icons {
  0% {
    transform: rotateY(0deg);
    opacity: 0.1;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotateY(360deg);
    opacity: 0.1;
  }
}

/* backend */

.card-icons .icon img {
  height: 50px;
  width: 50px;
}

/* form */
/* From Uiverse.io by gharsh11032000 */
.formsection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.form-container {
  width: 20rem;
  background: linear-gradient(rgb(13, 1, 48), rgb(10, 0, 27)) padding-box,
    linear-gradient(
        145deg,
        deeppink,
        25%,
        rgb(15, 215, 245),
        35%,
        #e81cff,
        #40c9ff
      )
      border-box;
  border: 2px solid transparent;
  /* box-shadow: 0 0 10px deeppink; */
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  justify-content: flex-start;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: whitesmoke;
  font-weight: bolder;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: whitesmoke;
  font-weight: 600;
  width: 40%;
  background: transparent;
  border: 1px solid #414141;
  box-shadow: 0 0 10px rgb(47, 189, 255);
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.6s;
  border-color: #fff;
}

.form-container .form-submit-btn:hover {
  /* background-color: #fff; */

  border-color: transparent;
}

.form-group .error {
  color: rgb(242, 18, 18);
  font-size: 16px;
  margin-top: 5px;
}

.form-group.success input {
  border-color: #0cc477;
}

.form-group.error input {
  border-color: rgb(206, 67, 67);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(
    35deg,
    transparent,
    rgb(8, 249, 104) 70%,
    rgb(212, 8, 248),
    transparent 10%
  );
}

::-webkit-scrollbar-thumb:hover {
  background: #0ef2ee;
}

/* loader */

.loader {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background: url(/images/loader.svg);
  background-size: contain;
  object-fit: cover;
}
